<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
{#    <link rel="icon" type="image/png" href="{% static "img/Aarohan-Tab-Logo" %}" />#}
    <link rel="icon" type="image/png" href="{% static "img/NEW-CCA-Logo.png" %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page not found</title>
    <link rel="stylesheet" href="{% static "css/404.css" %}">
</head>
<body>
    <div style="display: flex; align-items: center; justify-content: center;height: 95vh;">
        <a href="../">
            <img src="{% static "img/404.png" %}"/>
        </a>
    </div>
</body>
</html>