{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inquest</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Inquest is the online treasure hunt of the official techno-management fest of National
    Institute of Technology, Durgapur organised by Centre for Cognitive Activities(CCA)"/>

    <meta name="keywords" content="aarohan, 2020, 2k20, nit, nitd, nitdgp, official techno-management fest,
    fest, festival, science, engineering, techno-management, durgapur, National Institute of Technology, Durgapur,
    Centre for Cognitive Activities(CCA), Aarohan is the official techno-management fest of National
    Institute of Technology, Durgapur organised by Centre for Cognitive Activities(CCA), wdct, web, design, creative team,
    coding, development, web development, research and development, e cell, entrepreneurship, R&D, robotics, robo cell,
    robowars, hackathon, events, core cell, management, official, best fest of nitd, aarohan nites, 2nd largest, eastern
    India, 2nd largest fest in eastern India, gaming, electronics, computer science events, mechatronics"/>

    <meta name="author" content="Web, Design and Creative Team(WDCT), Center for Cognitive Activities(CCA),
    National Institute of Technology, Durgapur(NIT Dgp)"/>
    <meta name="robots" content="index,follow"/>
    <link rel="canonical" href="https://arhn.co.in"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- For PUSH NOTIFICATION using onesignal -->
    <script src="{% static "js/OneSignalSDK.js" %}" async=""></script>
    <script>
        var OneSignal = window.OneSignal || [];
        var initConfig = {
            {#appId: "89911c87-6fb0-4566-b3a8-4d847055d628",#}
            appId: "5cc55361-23b3-42f3-a60f-d0f0729342ed",
            notifyButton: {
                enable: true
            },
        };
        OneSignal.push(function () {
            OneSignal.SERVICE_WORKER_PARAM = {scope: '/static/'};
            OneSignal.SERVICE_WORKER_PATH = 'static/OneSignalSDKWorker.js';
            OneSignal.SERVICE_WORKER_UPDATER_PATH = 'static/OneSignalSDKUpdaterWorker.js';
            OneSignal.init(initConfig);
        });
    </script>


    <link rel="icon" type="image/png" href="{% static "img/NEW-CCA-Logo.png" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "fonts/iconic/css/material-design-iconic-font.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "vendor/animate/animate.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "vendor/animsition/css/animsition.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "vendor/select2/select2.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "vendor/daterangepicker/daterangepicker.css" %}"/>

    {#    <link rel="stylesheet" type="text/css" href="{% static "css/landing.css" %}" />#}
    <link rel="stylesheet" href="{% static "css/timerPageBg.css" %}">
    <link rel="stylesheet" href="{% static "css/countdowntime.css" %}">
    <style>
        .imlogo {
            width: 100px;
        }

        .logos {
            position: fixed;
            top: 0px;
            left: 0px;
        }

        @media only screen and (max-width: 700px) {
            .imlogo {
                width: 75px;
            }
        }

    </style>
</head>
<body>

<div class="logos">
    <img class="imlogo" src="{% static "img/NEW-CCA-Logo_Colored.png" %}" alt="CCA"/>
    <img class="imlogo" src="{% static "img/WDCT_logo_white.png" %}" alt="WDCT"/>
</div>

<div id="message">
    <div class="container cont">
        <div class="inq-logo">

            <img style="width: 43vw; height: auto;margin-left:3vw;" src="{% static "img/Inquest.png" %}" alt="inquest">
        </div>
    </div>

    <div id="time" value='{{ starttime }}' style="margin-bottom: -10vh;">
    </div>
</div>

<script src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "vendor/daterangepicker/moment.min.js" %}"></script>
<script src="{% static "vendor/daterangepicker/daterangepicker.js" %}"></script>
<script src="{% static "vendor/countdowntime/countdowntime.js" %}"></script>

<script src="{% static "js/timerPageBg.js" %}"></script>
<script src="{% static "js/countdowntime.js" %}"></script>
<script>

    window.onload = function start() {
        dispPlay();
    };

    function dispPlay() {
        window.setInterval(function () {
            var start = new Date(2020, 7, 30, 20, 52, 0, 0); //set the event start time manually here.Note: In javascript months start from 0.
            var now = new Date();
            if (now >= start) {
                location.reload();
            }
        }, 1000);
    }
</script>

<script>

</script>
</body>
</html>